<h1 class="page-header">Admin Dashboard</h1>
<div class="panel panel-default">
  <h3 class="panel-heading">Site Statistics</h3>
  <h4 class="panel-body">Products in database: <%= @product_count %></h4>
  <h4 class="panel-body">Categories in database: <%= @category_count %></h4>
</div>
