<h1 class="page-header">Admin Dashboard</h1>
<div class="panel panel-default items">
  <h4>Products in database: <%= @product_count %></h4>
  <h4>Categories in database: <%= @category_count %></h4>
</div>
