<section >

  <header class="page-header">
      <h1>About us</h1>
  </header>

  <div class="panel panel-default items">
    <h3 class="panel-heading">
    Innovator in global solutions since 1996
    </h3>
    <p class="panel-body">
    We're a very fun and definitely not evil company, please let us take over every aspect of your lives :) We ship anywhere in the world within seconds thanks to our advanced crushing of workers rights!
    </p>
  </div>
</section>